<div class="row disposition section" id="disposition">
  <div class="col-12">
    <h2 class="section-heading">Disposition</h2>
    <div class="section-summary">
      {{ site.data.resume.disposition.summary}}
    </div>
    <div class="travel">
      Percentage of time <strong>willing to travel</strong>: {{ site.data.resume.disposition.travel }}%
    </div>
    <div class="authorization">
      <strong>Work authorization</strong>: {{ site.data.resume.disposition.authorization }}
    </div>
    <div class="commitment">
      Types of <strong>work commitment</strong> desired: {{ site.data.resume.disposition.commitment }}
    </div>
    <div class="remote">
      Open to <strong>remote employment</strong> opportunities: {% if site.data.resume.disposition.remote %}Yes{% else %}No{% endif %}
    </div>
    <div class="remote">
      Willing to <strong>relocate</strong>: {% if site.data.resume.disposition.relocation.willing %}Yes{% else %}No{% endif %}
    </div>
    {% if site.data.resume.disposition.relocation.willing %}
      <div class="destinations">
        <strong>Preferred destinations</strong> for relocation: {{ site.data.resume.disposition.relocation.destinations | join: ", "}}
      </div>
    {% endif %}
  </div>
</div>