<div class="row education section" id="education">
  <div class="col-12">
    <h2 class="section-heading">Education</h2>
    <div class="section-summary">
      {{ site.data.resume.education.summary}}
    </div>

    {% for school in site.data.resume.education.history %}
      <div class="education-entry entry">      
        <div class="title">
          {% if school.institution %}
            <h3>
              {% if school.url %}
                <a href="{{school.url}}">{{school.institution}}</a>
              {% else %}
                {{school.institution}}
              {% endif %}
            </h3>
          {% endif %}
        </div>
        <div class="subtitle">
          {% capture title %}<span class="field_of_study">{{ school.fieldOfStudy }}</span>{% if school.fieldOfStudy and school.degree %}, {% endif %}<span class="degree">{{ school.degree }}</span>{% if school.grade %} <span class="grade">({{ school.grade }})</span> {% endif %}{% endcapture %}
          {{ title }}
          |
          <span class="date">
            {% capture dates  %}{{ school.startDate }}{% if school.startDate and school.endDate%} - {% endif %} {{school.endDate}}{%endcapture%}
            {{  dates }}            
          </span>
        </div>
        <div class="location">
          {{school.location}}
        </div>
        <div class="summary">
          {{school.summary}}
        </div>
        <ul class="curriculum">
          <h4>Curriculum</h4>
          {% for curriculum in school.curriculum %}
            <li class="curriculum-entry">
            {{ curriculum }}
            </li>
           {% endfor %}
        </ul>
        <ul class="highlights">
          <h4>Highlights</h4>
          {% for highlight in school.highlights %}
            <li class="highlight">
            {{ highlight }}
            </li>
           {% endfor %}
        </ul>
        <div class="keywords">
          {% for keyword in school.keywords %}
            <span class="keyword tag">
            {{ keyword }}
            </span>
           {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
