{% if site.data.resume.employment.size > 0 %}
  <div class="row employment section" id="employment">
    <div class="col-12">
      <h2 class="section-heading">Work Experience</h2>

      {% if site.data.resume.employment.summary %}
        <div class="section-summary">
          {{ site.data.resume.employment.summary }}
        </div>
      {% endif %}

      {% for job in site.data.resume.employment.history %}
        <div class="employment-entry entry">

          {% if job.employer %}
            <div class="employer title">
              <h3>
                {% if job.url %}
                  <a href="{{job.url}}">{{job.employer}}</a>
                {% else %}
                  {{job.employer}}
                {% endif %}
              </h3>
            </div>
          {% endif %}

          {% if job.position or job.startDate or job.endDate %}
            <div class="subtitle">        
              <span class="position">
                {{job.position}} 
              </span>
              {% if job.position %}
              |
              {% endif %}
              <span class="date">
                {% capture dates  %}{{ job.startDate }}{% if job.startDate and job.endDate%} - {% endif %} {{job.endDate}}{%endcapture%}
                {{  dates }}            
              </span>
            </div>
          {% endif %}

          {% if job.location %}
            <div class="location">
              {{job.location}}
            </div>
          {% endif %}

          {% if job.summary %}
            <div class="summary">
              {{job.summary}}
            </div>
          {% endif %}

          {% if job.highlights %}
            <div class="highlights">          
              <h4>Highlights</h4>
              <ul>
                {% for highlight in job.highlights %}
                  <li class="highlight">
                  {{ highlight }}
                  </li>
                 {% endfor %}
              </ul>
            </div>
          {% endif %}

          {% if job.keywords %}
            <div class="keywords">
              {% for keyword in job.keywords %}
                <span class="keyword tag">
                {{ keyword }}
                </span>
               {% endfor %}
            </div>
          {% endif %}

        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}