{% if site.data.resume.extracurricular.size > 0 %}
  <div class="row extracurricular section" id="extracurricular">
    <div class="col-12">
      <h2 class="section-heading">Extracurricular</h2>

      {% if site.data.resume.extracurricular.summary %}
        <div class="section-summary">
          {{ site.data.resume.extracurricular.summary}}
        </div>
      {% endif %}

      {% for extracurricular in site.data.resume.extracurricular.history %}
        <div class="extracurricular entry">

          {% if extracurricular.title %}
            <div class="title">
              <h3>
                {% if extracurricular.url %}
                  <a href="{{extracurricular.url}}">{{extracurricular.title}}</a>
                {% else %}
                  {{extracurricular.title}}
                {% endif %}
              </h3>
            </div>
          {% endif %}

          {% if extracurricular.category or extracurricular.from or extracurricular.startDate or extracurricular.endDate %}
            <div class="subtitle">        
              <span>
                {% capture subtitle %}<span class="category">{{ extracurricular.category }}</span>{% if extracurricular.category and extracurricular.from %}, {% endif %}<span class="from">{{ extracurricular.from }}</span>{% endcapture %}
                {{ subtitle }}
              </span>
              {% if extracurricular.category or extracurricular.from %}
              |
              {% endif %}
              <span class="date">
                {% capture dates  %}{{ extracurricular.startDate }}{% if extracurricular.startDate and extracurricular.endDate%} - {% endif %} {{extracurricular.endDate}}{%endcapture%}
                {{  dates }}               
              </span>
            </div>
          {% endif %}

          {% if extracurricular.summary %}
            <div class="summary">
              {{extracurricular.summary}}
            </div>
          {% endif %}

          {% if extracurricular.highlights %}
            <div class="highlights">          
              <h4>Highlights</h4>
              <ul>
                {% for highlight in extracurricular.highlights %}
                  <li class="highlight">
                  {{ highlight }}
                  </li>
                 {% endfor %}
              </ul>
            </div>
          {% endif %}

          {% if extracurricular.keywords %}
            <div class="keywords">
              {% for keyword in extracurricular.keywords %}
                <span class="keyword tag">
                {{ keyword }}
                </span>
               {% endfor %}
            </div>
          {% endif %}

        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}