<div class="row languages section" id="languages">
  <div class="col-12">
    <h2 class="section-heading">Languages</h2>
    <div class="section-summary">
      {{ site.data.resume.languages.summary}}
    </div>

    {% for language in site.data.resume.languages.history %}
      <div class="language-entry entry">
        <div class="language">
          {{language.language}}
        </div>
        <div class="level">
          {{language.level}} {% if language.years %}({{language.years}} years){% endif %}
        </div>
    {% endfor %}
  </div>
</div>