<div class="row navigation noprint">
  <div class="col-12">        
    <h2 class="section-heading">Jump to:</h2>

    <div class="navigation-link">
      <a href="#disposition">Disposition</a>
    </div>
    <div class="navigation-link">
      <a href="#employment">Work Experience</a>
    </div>
    <div class="navigation-link">
      <a href="#education">Education</a>
    </div>
    <div class="navigation-link">
      <a href="#references">References</a>
    </div>
    <div class="navigation-link">
      <a href="#projects">Projects</a>
    </div>
    <div class="navigation-link">
      <a href="#open_source">Open Source</a>
    </div>
    <div class="navigation-link">
      <a href="#qualifications">Qualifications</a>
    </div>
    <div class="navigation-link">
      <a href="#skills">Skills</a>
    </div>
    <div class="navigation-link">
      <a href="#recognition">Recognition</a>
    </div>
    <div class="navigation-link">
      <a href="#writing">Writing</a>
    </div>
    <div class="navigation-link">
      <a href="#reading">Reading</a>
    </div>
    <div class="navigation-link">
      <a href="#speaking">Speaking</a>
    </div>
    <div class="navigation-link">
      <a href="#patents">Patents</a>
    </div>
    <div class="navigation-link">
      <a href="#languages">Languages</a>
    </div>
    <div class="navigation-link">
      <a href="#extracurriculars">Extracurriculars</a>
    </div>
    <div class="navigation-link">
      <a href="#affiliations">Affiliations</a>
    </div>
    <div class="navigation-link">
      <a href="#governance">Governance</a>
    </div>
    <div class="navigation-link">
      <a href="#service">Service</a>
    </div>
    <div class="navigation-link">
      <a href="#interests">Interests</a>
    </div>
  </div>
</div>