{% if site.data.resume.projects.size > 0 %}
  <div class="row projects section" id="projects">
    <div class="col-12">
      <h2 class="section-heading">Projects</h2>
      {% if site.data.resume.projects.summary %}
        <div class="section-summary">
          {{ site.data.resume.projects.summary }}
        </div>
      {% endif %}

      {% for project in site.data.resume.projects.history %}
        <div class="project-entry entry">      
          {% if project.title %}
            <div class="title">
              <h3>
                {% if project.url %}
                  <a href="{{project.url}}">{{project.title}}</a>
                {% else %}
                  {{project.title}}
                {% endif %}
              </h3>
            </div>
          {% endif %}

          {% if project.category or project.startDate or project.endDate %}
            <div class="subtitle">        
              {% if project.category %}
                <span class="category">
                  {{project.category}} 
                </span>
                |
              {% endif %}
              <span class="date">
                {% capture dates  %}{{ project.startDate }}{% if project.startDate and project.endDate%} - {% endif %} {{project.endDate}}{%endcapture%}
                {{  dates }}            
              </span>
            </div>
          {% endif %}

          {% if project.repo %}
            <div class="repo">
              <a href="{{project.repo}}">{{project.repo}}</a>
            </div>
          {% endif %}

          {% if project.description %}
            <div class="description">
              {{project.description}}
            </div>
          {% endif %}

          {% if project.roles %}
            <div class="roles">
              <h4>Roles</h4>
              {{ project.roles | join: (", ") }}
            </div>
          {% endif %}

          {% if project.highlights %}
            <div class="highlights">          
              <h4>Highlights</h4>
              <ul>
                {% for highlight in project.highlights %}
                  <li class="highlight">
                  {{ highlight }}
                  </li>
                 {% endfor %}
              </ul>
            </div>
          {% endif %}

          {% if project.keywords %}
            <div class="keywords">
              {% for keyword in project.keywords %}
                <span class="keyword tag">
                {{ keyword }}
                </span>
               {% endfor %}
            </div>
          {% endif %}

        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}