<div class="row projects section" id="projects">
  <div class="col-12">
    <h2 class="section-heading">Projects</h2>
    <div class="section-summary">
      {{ site.data.resume.projects.summary}}
    </div>

    {% for project in site.data.resume.projects.history %}
      <div class="project-entry entry">      
        <div class="title">
          <h3>
            {% if project.url %}
              <a href="{{project.url}}">{{project.title}}</a>
            {% else %}
              {{project.title}}
            {% endif %}
          </h3>
        </div>
        <div class="subtitle">        
          <span class="category">
            {{project.category}} 
          </span>
          |
          <span class="date">
            {% capture dates  %}{{ project.startDate }}{% if project.startDate and project.endDate%} - {% endif %} {{project.endDate}}{%endcapture%}
            {{  dates }}            
          </span>
        </div>        
        <div class="repo">
          <a href="{{project.repo}}">{{project.repo}}</a>
        </div>
        <div class="description">
          {{project.description}}
        </div>
        <div class="roles">
          <h4>Roles</h4>
          {{ project.roles | join: (", ") }}
        </div>
        <ul class="highlights">
          <h4>Highlights</h4>
          {% for highlight in project.highlights %}
            <li class="highlight">
            {{ highlight }}
            </li>
           {% endfor %}
        </ul>
        <div class="keywords">
          {% for keyword in project.keywords %}
            <span class="keyword tag">
            {{ keyword }}
            </span>
           {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>