<div class="row qualifications section" id="qualifications">
  <div class="col-12">
    <h2 class="section-heading">Qualifications</h2>
    <div class="section-summary">
      {{ site.data.resume.qualifications.summary}}
    </div>

    {% for qualification in site.data.resume.qualifications.history %}
      <div class="qualification-entry entry">      
        <div class="title">
          <h3>
            {% if qualification.url %}
              <a href="{{qualification.url}}">{{qualification.title}}</a>
            {% else %}
              {{qualification.title}}
            {% endif %}
          </h3>
        </div>
        <div class="subtitle">        
          <span>
            {% capture subtitle %}<span class="category">{{ qualification.category }}</span>{% if qualification.category and qualification.from %}, {% endif %}<span class="from">{{ qualification.from }}</span>{% endcapture %}
            {{ subtitle }}
          </span>
          |
          <span class="date">
            {% capture dates  %}{{ qualification.startDate }}{% if qualification.startDate and qualification.endDate%} - {% endif %} {{qualification.endDate}}{%endcapture%}
            {{  dates }}            
          </span>
        </div>        
        <div class="summary">
          {{qualification.summary}}
        </div>
        <ul class="highlights">
          <h4>Highlights</h4>
          {% for highlight in qualification.highlights %}
            <li class="highlight">
            {{ highlight }}
            </li>
           {% endfor %}
        </ul>
        <div class="keywords">
          {% for keyword in qualification.keywords %}
            <span class="keyword tag">
            {{ keyword }}
            </span>
           {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>