{% if site.data.resume.reading.size > 0 %}
  <div class="row reading section" id="reading">
    <div class="col-12">
      <h2 class="section-heading">Reading</h2>

      {% if site.data.resume.reading.summary %}
        <div class="section-summary">
          {{ site.data.resume.reading.summary }}
        </div>
      {% endif %}

      {% for reading_entry in site.data.resume.reading.history %}
        <div class="reading_entry entry">

          {% if reading_entry.title %} 
            <div class="title">
              <h3>
                {% if reading_entry.url %}
                  <a href="{{reading_entry.url}}">{{reading_entry.title}}</a>
                {% else %}
                  {{reading_entry.title}}
                {% endif %}
              </h3>
            </div>
          {% endif %}

          {% if reading_entry.category or reading_entry.author or reading_entry.date %}
            <div class="subtitle">        
              {% if reading_entry.category or reading_entry.author %}
                <span>
                  {% capture subtitle %}<span class="category">{{ reading_entry.category }}</span>{% if reading_entry.category and reading_entry.author %}, {% endif %}<span class="author">{{ reading_entry.author }}</span>{% endcapture %}
                  {{ subtitle }}
                </span>
                |
              {% endif %}
              <span class="date">
                {{  reading_entry.date }}            
              </span>
            </div>
          {% endif %}

          {% if reading_entry.summary %}
            <div class="summary">
              {{reading_entry.summary}}
            </div>
          {% endif %}

          {% if reading_entry.highlights %}
            <div class="highlights">          
              <h4>Highlights</h4>
              <ul>
                {% for highlight in reading_entry.highlights %}
                  <li class="highlight">
                  {{ highlight }}
                  </li>
                 {% endfor %}
              </ul>
            </div>
          {% endif %}

          {% if reading_entry.keywords %}
            <div class="keywords">
              {% for keyword in reading_entry.keywords %}
                <span class="keyword tag">
                {{ keyword }}
                </span>
               {% endfor %}
            </div>
          {% endif %}

        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}