{% if site.data.resume.recognition.size > 0 %}
  <div class="row recognition section" id="recognition">
    <div class="col-12">
      <h2 class="section-heading">Recognition</h2>

      {% if site.data.resume.recognition.summary %}
        <div class="section-summary">
          {{ site.data.resume.recognition.summary }}
        </div>
      {% endif %}

      {% for recognition_entry in site.data.resume.recognition.history %}
        <div class="recognition_entry entry">

          {% if recognition_entry.title %} 
            <div class="title">
              <h3>
                {% if recognition_entry.url %}
                  <a href="{{recognition_entry.url}}">{{recognition_entry.title}}</a>
                {% else %}
                  {{recognition_entry.title}}
                {% endif %}
              </h3>
            </div>
          {% endif %}

          {% if recognition_entry.category or recognition_entry.from or recognition_entry.startDate or recognition_entry.endDate %}
            <div class="subtitle">        
              {% if recognition_entry.category or recognition_entry.from %}
                <span>
                  {% capture subtitle %}<span class="category">{{ recognition_entry.category }}</span>{% if recognition_entry.category and recognition_entry.from %}, {% endif %}<span class="from">{{ recognition_entry.from }}</span>{% endcapture %}
                  {{ subtitle }}
                </span>
                |
              {% endif %}
              <span class="date">
                {% capture dates  %}{{ recognition_entry.startDate }}{% if recognition_entry.startDate and recognition_entry.endDate%} - {% endif %} {{recognition_entry.endDate}}{%endcapture%}
                {{  dates }}          
              </span>
            </div>
          {% endif %}

          {% if recognition_entry.summary %}
            <div class="summary">
              {{recognition_entry.summary}}
            </div>
          {% endif %}

          {% if recognition_entry.highlights %}
            <div class="highlights">          
              <h4>Highlights</h4>
              <ul>
                {% for highlight in recognition_entry.highlights %}
                  <li class="highlight">
                  {{ highlight }}
                  </li>
                 {% endfor %}
              </ul>
            </div>
          {% endif %}

          {% if recognition_entry.keywords %}
            <div class="keywords">
              {% for keyword in recognition_entry.keywords %}
                <span class="keyword tag">
                {{ keyword }}
                </span>
               {% endfor %}
            </div>
          {% endif %}

        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}