<div class="container">
  <div class="row">
    <div class="col-12 col-md-3 push-md-9 sidebar">
      <div class="md-only">        
        {% include image.html %}
        {% include contact.html %}
        {% include social.html %}
      </div>
    </div>
    <div class="col-12 col-md-9 pull-md-3 main">
      {% include basics.html %}
      <div class="sm-only section">        
        {% include contact.html %}
        {% include social.html %}
      </div>
      {% include disposition.html %}
      {% include employment.html %}
      {% include education.html %}
      {% include references.html %}
      {% include projects.html %}
      {% include open_source.html %}
      {% include qualifications.html %}
      {% include skills.html %}
      {% include recognition.html %}
      {% include writing.html %}
      {% include reading.html %}
      {% include speaking.html %}
      {% include patents.html %}
      {% include languages.html %}
      {% include extracurricular.html %}
      {% include affiliation.html %}
      {% include governance.html %}
      {% include service.html %}
      {% include interests.html %}
    </div>
  </div>
</div>