<div class="container resume">
  <div class="row">
    <div class="col-md-8 main">
      {% include basics.html %}
      <div class="sm-only section">        
        {% include contact.html %}
        {% include social.html %}
      </div>
      {% include disposition.html %}
      {% include employment.html %}
      {% include education.html %}
      {% include references.html %}
      {% include projects.html %}
      {% include open_source.html %}
      {% include qualifications.html %}
      {% include skills.html %}
      {% include recognition.html %}
      {% include writing.html %}
      {% include reading.html %}
      {% include speaking.html %}
      {% include patents.html %}
      {% include languages.html %}
      {% include extracurricular.html %}
      {% include affiliation.html %}
      {% include governance.html %}
      {% include service.html %}
      {% include interests.html %}
    </div>
    <div class="col-md-3 col-md-offset-1 sidebar noprint">
      <div class="md-only">        
        {% include image.html %}
        {% include contact.html %}
        {% include social.html %}
      </div>
    </div>
  </div>
  <div class="row footer noprint" style="display: none;">
    {% include footer.html %}
  </div>
</div>