<div class="row skills section" id="skills">
  <div class="col-12">
    <h2 class="section-heading">Skills</h2>
    <div class="section-summary">
      {{ site.data.resume.skills.summary}}
    </div>

    {% for skill in site.data.resume.skills.history %}
      <div class="skill-entry entry">
        <div class="name">
          {{skill.name}}
        </div>
        <div class="description">
          {{skill.description}}
        </div>
        <div class="keywords">
          {% for keyword in skill.keywords %}
            <span class="keyword tag">
            {{ keyword }}
            </span>
           {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>