{% if site.data.resume.writing.size > 0 %}
  <div class="row writing section" id="writing">
    <div class="col-12">
      <h2 class="section-heading">Writing</h2>

      {% if site.data.resume.writing.summary %}
        <div class="section-summary">
          {{ site.data.resume.writing.summary }}
        </div>
      {% endif %}

      {% for writing_entry in site.data.resume.writing.history %}
        <div class="writing_entry entry">

          {% if writing_entry.title %}
            <div class="title">
              <h3>
                {% if writing_entry.url %}
                  <a href="{{writing_entry.url}}">{{writing_entry.title}}</a>
                {% else %}
                  {{writing_entry.title}}
                {% endif %}
              </h3>
            </div>
          {% endif %}

          {% if writing_entry.category or writing_entry.publisher or writing_entry.date %}
            <div class="subtitle">        
              {% if writing_entry.category or writing_entry.publisher %}
                <span>
                  {% capture subtitle %}<span class="category">{{ writing_entry.category }}</span>{% if writing_entry.category and writing_entry.publisher %}, {% endif %}<span class="publisher">{{ writing_entry.publisher }}</span>{% endcapture %}
                  {{ subtitle }}
                </span>
                |
              {% endif %}
              <span class="date">
                {{  writing_entry.date }}            
              </span>
            </div>
          {% endif %}

          {% if writing_entry.summary %}
            <div class="summary">
              {{writing_entry.summary}}
            </div>
          {% endif %}

          {% if writing_entry.highlights %}
            <div class="highlights">          
              <h4>Highlights</h4>
              <ul>
                {% for highlight in writing_entry.highlights %}
                  <li class="highlight">
                  {{ highlight }}
                  </li>
                 {% endfor %}
              </ul>
            </div>
          {% endif %}

          {% if writing_entry.keywords %}
            <div class="keywords">
              {% for keyword in writing_entry.keywords %}
                <span class="keyword tag">
                {{ keyword }}
                </span>
               {% endfor %}
            </div>
          {% endif %}

        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}